<!-- Wappler include head-page="layouts/main" id="productdetails" is="dmx-app" appConnect="local" -->
<meta name="ac:route" content="/product-details/:id/:prod_name">
<dmx-serverconnect id="scProdDetails" url="/api/Products/ProdDetails" dmx-param:p_id="<%= $_PARAM.id %>"></dmx-serverconnect>
<dmx-serverconnect id="scRelatedProd" url="/api/Products/RelatedProducts" dmx-param:p_id="<%= $_PARAM.id %>"></dmx-serverconnect>
<dmx-serverconnect id="scProdReviewList" url="/api/Review/GetAProdReviews" dmx-param:p_id="<%= $_PARAM.id %>"></dmx-serverconnect>
<dmx-serverconnect id="scProdReviewAdd" url="/api/Review/AddReviewProd" dmx-param:p_id="<%= $_PARAM.id %>" dmx-param:slider="slider.value" dmx-param:review="reviewtext.value" noload dmx-on:success="notifMain.success(content.scProdReviewAdd.data.message)"></dmx-serverconnect>
<dmx-value id="varZoomImg" dmx-bind:value="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img1+'?w=1200&amp;ch=DPR&amp;dpr=2'"></dmx-value>
<style>
    .smileySlider {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }


    h1 {
        text-align: center;
    }

    .sliderValue-wrapper {
        width: 300px;
        border: none;
        background-color: #ECC377;
        text-align: center;
        font-size: small;
    }

    #emoji {
        font-size: 5rem;
        text-align: center;
    }
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>
                        <%= $_PARAM.prod_name %>
                    </h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>

                        <span>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails[0].shop_name_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails[0].shop_name_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails[0].shop_name_hin:content.scProdDetails.data.GetProdDetails[0].shop_name_en}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-details spad">
    <dmx-value id="varPrice" dmx-bind:value="content.scProdDetails.data.GetProdDetails[0].price[0].price"></dmx-value>
    <dmx-value id="varMRP" dmx-bind:value="content.scProdDetails.data.GetProdDetails[0].price[0].mrp"></dmx-value>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <img class="drift-demo-trigger" data-zoom="assets/img/product/details/product-details-2.jpg?w=1200&amp;ch=DPR&amp;dpr=2" dmx-bind:src="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img1+'?w=400&amp;ch=DPR&amp;dpr=2'" dmx-bind:data-zoom="varZoomImg.value" />
                </div>
                <div class="product__details__pic__slider owl-carousel mt-3">
                    <img data-imgbigurl="assets/img/product/details/product-details-2.jpg" dmx-bind:data-imgbigurl="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img1" dmx-bind:src="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img1" alt="" dmx-on:click="varZoomImg.setValue('https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img1+'?w=1200&amp;ch=DPR&amp;dpr=2')">
                    <img data-imgbigurl="assets/img/product/details/product-details-3.jpg" dmx-bind:data-imgbigurl="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img2" dmx-bind:src="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img2" alt="" dmx-on:click="varZoomImg.setValue('https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img2+'?w=1200&amp;ch=DPR&amp;dpr=2')">
                    <img data-imgbigurl="assets/img/product/details/product-details-5.jpg" dmx-bind:data-imgbigurl="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img3" dmx-bind:src="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img3" alt="" dmx-on:click="varZoomImg.setValue('https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img3+'?w=1200&amp;ch=DPR&amp;dpr=2')">
                    <img data-imgbigurl="assets/img/product/details/product-details-4.jpg" dmx-bind:data-imgbigurl="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img4" dmx-bind:src="'https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img4" alt="" dmx-on:click="varZoomImg.setValue('https://secure.gravitto.com'+content.scProdDetails.data.GetProdDetails[0].prod_img4+'?w=1200&amp;ch=DPR&amp;dpr=2')">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="detail">
                    <div class="product__details__text">
                        <h3>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails[0].prod_name_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails[0].prod_name_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails[0].prod_name_hin:content.scProdDetails.data.GetProdDetails[0].prod_name_en}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <a href="#" dmx-bind:href="'/shop-details/'+content.scProdDetails.data.GetProdDetails[0].rest_id+'/'+content.scProdDetails.data.GetProdDetails[0].shop_name_en">
                            <h6 class="mb-3">{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails[0].shop_name_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails[0].shop_name_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails[0].shop_name_hin:content.scProdDetails.data.GetProdDetails[0].shop_name_en}}</h6>
                        </a>
                        <div class="product__details__price"><i class="fa fa-rupee"></i>{{varPrice.value}} <span class="text-muted ab text-monospace text-line-through"><i class="fa fa-rupee"></i>{{varMRP.value}}</span></div>
                        <select id="selectProdPrice" dmx-bind:id="'select'+$index" class="form-select form-control d-block w-auto text-monospace font-weight-bold mb-3" style="font-size:14px" dmx-bind:options="scProdDetails.data.GetProdDetails[0].price" optiontext="quantity+' '+q_unit+' :: '+price.toNumber().formatCurrency('₹', '.', ',', 2)+' MRP:'+.mrp.toNumber().formatCurrency('₹', '.', ',', 2)" optionvalue="price_id">
                        </select>
                        <p class="mb-3">{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails[0].prod_desc_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails[0].prod_desc_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails[0].prod_desc_hin:content.scProdDetails.data.GetProdDetails[0].prod_desc_en}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1" id="quantity">
                                </div>
                            </div>
                        </div>
                        <a href="#" dmx-on:click="run({run:{action:`scAddtoCart.load({product_id: content.scProdDetails.data.GetProdDetails[0].prod_id, price: selectProdPrice.value, quantity: quantity.value},true);notifMain.success(((varLanguage.value==\'English\')?content.scProdDetails.data.GetProdDetails[0].prod_name_en:(varLanguage.value==\'Bengali\')?content.scProdDetails.data.GetProdDetails[0].prod_name_bn:(varLanguage.value==\'Hindi\')?content.scProdDetails.data.GetProdDetails[0].prod_name_hin:content.scProdDetails.data.GetProdDetails[0].prod_name_en)+\' added to cart\');scDashboardInfo.load()`,name:'Flow'}})" class="primary-btn">ADD TO CARD</a>
                        <a href="#" dmx-on:click="run({run:{action:`scAddtoWishlist.load({product_id: content.scProdDetails.data.GetProdDetails[0].prod_id, price:  selectProdPrice.value},true);scDashboardInfo.load(true);notifMain.info(((varLanguage.value==\'English\')?content.scProdDetails.data.GetProdDetails[0].prod_name_en:(varLanguage.value==\'Bengali\')?content.scProdDetails.data.GetProdDetails[0].prod_name_bn:(varLanguage.value==\'Hindi\')?content.scProdDetails.data.GetProdDetails[0].prod_name_hin:content.scProdDetails.data.GetProdDetails[0].prod_name_en)+\' added to wish-list\')`,name:'FlowWishlist'}})" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Prod. Code</b> <span>{{content.scProdDetails.data.GetProdDetails[0].prod_id}}</span></li>
                            <li><b>Prod. Mark</b> <span>{{content.scProdDetails.data.GetProdDetails[0].prod_mark_id==1?'Veg':'Non-Veg'}}
                                    <!--<samp>Free pickup today</samp>-->
                                </span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-6">
        <div class="product__details__tab">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Reviews <span>(1)</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Description</h6>
                        <p>{{varLanguage.value=='English'?content.scProdDetails.data.GetProdDetails[0].prod_desc_en:varLanguage.value=='Bengali'?content.scProdDetails.data.GetProdDetails[0].prod_desc_bn:varLanguage.value=='Hindi'?content.scProdDetails.data.GetProdDetails[0].prod_desc_hin:content.scProdDetails.data.GetProdDetails[0].prod_desc_en}}</p>
                        <p></p>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="product__details__tab__desc">
                        <h6>Products Infomation</h6>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <h6 class="ab mb-3">Product Review</h6>
                    <div class="card-body tab-content border-0" dmx-show="scDashboardInfo.data.varLogin">
                        <div class="names">
                            <div class="smileySlider">
                                <div id="emoji">😊</div>
                                <input id="slider" type="range" min="1" max="5" name="slider" dmx-bind:value="content.scProdDetails.data.GetProdDetails[0].review_value">
                                <div class="sliderValue-wrapper" hidden>
                                    <span id="sliderValue">3</span>/5
                                </div>
                                <h4>{{(slider.value==1)?'Very Poor':(slider.value==2)?'Poor':(slider.value==3)?'Good':(slider.value==4)?'Very Good':(slider.value==5)?'Excellent':''}}</h4>
                            </div>
                            <input type="text" class="reviewinp mx-3" name="reviewtext" placeholder="Write a review" dmx-bind:value="content.scProdDetails.data.GetProdDetails[0].review_comment">
                        </div>
                        <div class="submitbtn text-center">
                            <button class="submit" type="button" dmx-on:click="scProdReviewAdd.load({p_id: content.scProdDetails.data.GetProdDetails[0].p_id, slider: slider.value, review: reviewtext.value})">{{content.scProdDetails.data.GetProdDetails[0].review_value?'Update':'Submit'}} Review</button>
                        </div>
                    </div>
                    <div class="testimonial-box-container" id="repeatReviewList" is="dmx-repeat" dmx-bind:repeat="scProdReviewList.data.GetReviews" key="prod_review_id">
                        <div class="testimonial-box px-3 pt-3 pb-1">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>{{content.scProdReviewList.data.GetReviews[$index].fname}} {{content.scProdReviewList.data.GetReviews[$index].lname}}</strong>
                                        <span>{{content.scProdReviewList.data.GetReviews[$index].created_on}}</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fa" dmx-class:fa-star="(scProdReviewList.data.GetReviews[$index].review_value>=1)" dmx-class:fa-star-o="(scProdReviewList.data.GetReviews[$index].review_value<1)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scProdReviewList.data.GetReviews[$index].review_value>=2)" dmx-class:fa-star-o="(scProdReviewList.data.GetReviews[$index].review_value<2)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scProdReviewList.data.GetReviews[$index].review_value>=3)" dmx-class:fa-star-o="(scProdReviewList.data.GetReviews[$index].review_value<3)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scProdReviewList.data.GetReviews[$index].review_value>=4)" dmx-class:fa-star-o="(scProdReviewList.data.GetReviews[$index].review_value<4)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scProdReviewList.data.GetReviews[$index].review_value==5)" dmx-class:fa-star-o="(scProdReviewList.data.GetReviews[$index].review_value<5)"></i>
                                    <!--Empty star-->
                                </div>
                            </div>
                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="">{{content.scProdReviewList.data.GetReviews[$index].review_comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row" id="repeatRelatedProd" is="dmx-repeat" dmx-bind:repeat="scRelatedProd.data.GetRelatedProd" key="id" id="RelatedProd">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg">
                        <img class="featured__item__pic set-bg" dmx-bind:src="'https://secure.gravitto.com'+content.scRelatedProd.data.GetRelatedProd[$index].prod_img1" dmx-bind:alt="content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en">
                        <ul class="product__item__pic__hover">
                            <li dmx-on:click="run({run:{action:`scAddtoWishlist.load({product_id: content.scRelatedProd.data.GetRelatedProd[$index].prod_id, price: repeatRelatedProd.items[$index].select.value},true);notifMain.info(((varLanguage.value==\'English\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en:(varLanguage.value==\'Bengali\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_bn:(varLanguage.value==\'Hindi\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_hin:content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en)+\' added to wish-list\');scDashboardInfo.load()`,name:'FlowWishlist'}})"><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-circle" dmx-class:text-success="content.scRelatedProd.data.GetRelatedProd[$index].prod_mark_id==1" dmx-class:text-danger="content.scRelatedProd.data.GetRelatedProd[$index].prod_mark_id==2"></i></a></li>
                            <li dmx-on:click="run({run:{action:`scAddtoCart.load({product_id: content.scRelatedProd.data.GetRelatedProd[$index].prod_id, price: repeatRelatedProd.items[$index].select.value},true);notifMain.success(((varLanguage.value==\'English\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en:(varLanguage.value==\'Bengali\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_bn:(varLanguage.value==\'Hindi\')?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_hin:content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en)+\'  added to cart \');scDashboardInfo.load()`,name:'Flow'}})"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h5><a dmx-bind:href="'/product-details/'+content.scRelatedProd.data.GetRelatedProd[$index].id+'/'+content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en">{{varLanguage.value=='English'?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en:varLanguage.value=='Bengali'?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_bn:varLanguage.value=='Hindi'?content.scRelatedProd.data.GetRelatedProd[$index].prod_name_hin:content.scRelatedProd.data.GetRelatedProd[$index].prod_name_en}}</a></h5>
                        <p><a dmx-bind:href="'/shop-details/'+content.scRelatedProd.data.GetRelatedProd[$index].rest_id+'/'+content.scRelatedProd.data.GetRelatedProd[$index].shop_name_en">{{varLanguage.value=='English'?content.scRelatedProd.data.GetRelatedProd[$index].shop_name_en:varLanguage.value=='Bengali'?content.scRelatedProd.data.GetRelatedProd[$index].shop_name_bn:varLanguage.value=='Hindi'?content.scRelatedProd.data.GetRelatedProd[$index].shop_name_hin:content.scRelatedProd.data.GetRelatedProd[$index].shop_name_en}}</a></p>
                        <select id="select" dmx-bind:id="'select'+$index" class="form-select form-control d-block w-100 text-monospace font-weight-bold" style="font-size:13px" dmx-bind:options="scRelatedProd.data.GetRelatedProd[$index].price" optiontext="quantity+' '+q_unit+' :: '+price.toNumber().formatCurrency('₹', '.', ',', 2)+' MRP:'+.mrp.toNumber().formatCurrency('₹', '.', ',', 2)" optionvalue="price_id">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0" dmx-show="content.scRelatedProd.data.GetRelatedProd.length<=0">
            <h5>Related Products Empty!</h5>
        </div>

    </div>

</section>
<script src="assets/dist/Drift.js"></script>
<script>
    new Drift(document.querySelector(".drift-demo-trigger"), {
                paneContainer: document.querySelector(".detail"),
                inlinePane: 900,
                inlineOffsetY: -85,
                containInline: true,
                hoverBoundingBox: true,
              });
</script>
<! ## Begin Inline JavaScript>
    <script>
        const 
  slider = document.getElementById('slider'), 
  value = document.getElementById('sliderValue'),
  emoji = document.getElementById('emoji');

slider.addEventListener('input', ()=>{
  
  number = slider.value;
  value.innerHTML = number;
  console.log(number);
  
 
  if(number <= 1){
    emojiVal = "😞";
  }
  if(number > 1 && number <= 2){
    emojiVal = "😕";
  }
  if(number > 2 && number <= 3){
    emojiVal = "😊";
  }
//   if(number > 45 && number <= 55){
//     emojiVal = "🤔";
//   }
//   if(number > 55 && number <= 70){
//     emojiVal = "🙂";
//   }
  if(number > 3 && number <= 4){
    emojiVal = "😵‍💫";
  }
  if(number > 4){
    emojiVal = "😍";
  }

  
  emoji.innerHTML = emojiVal;
})
    </script>
    <! ## End Inline JavaScript>