<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="shopdetails" appConnect="local" components="{dmxFormatter:{}}" -->
<meta name="ac:route" content="/shop-details/:id/:shop_name">
<dmx-serverconnect id="scShopDetails" url="/api/Restaurant/ShopDetails" dmx-param:rest_id="<%= $_PARAM.id %>" dmx-param:market="1" dmx-param:lang="varLanguage.value"></dmx-serverconnect>
<dmx-serverconnect id="scRestProd" url="/api/Products/RestProducts" dmx-param:rest_id="<%= $_PARAM.id %>" dmx-param:market="1"></dmx-serverconnect>
<dmx-serverconnect id="scRestReviewList" url="/api/Review/GetARestReviews" dmx-param:rest_id="<%= $_PARAM.id %>"></dmx-serverconnect>
<dmx-serverconnect id="scRestReviewAdd" url="/api/Review/AddReviewRest" dmx-param:rest_id="<%= $_PARAM.id %>" dmx-param:slider="content.slider.value" dmx-param:review="content.reviewtext.value" noload dmx-on:success="notifMain.success(content.scRestReviewAdd.data.message)"></dmx-serverconnect>
<dmx-serverconnect id="scNewProd" url="/api/Products/NewProducts" dmx-param:limit="4" dmx-param:market="1" dmx-param:lang="(varLanguage.value=='English')?'EN':(varLanguage.value=='Bengali')?'BEN':(varLanguage.value=='Hindi')?'HIN':'EN'"></dmx-serverconnect>
<dmx-serverconnect id="scCategory" url="/api/Category/ActiveCategory" dmx-param:market="1" dmx-param:limit="4"></dmx-serverconnect>
<style>
    .smileySlider {
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 0rem;
    }


    h1 {
        text-align: center;
    }

    .sliderValue-wrapper {
        width: 300px;
        border: none;
        background-color: #ECC377;
        text-align: center;
        font-size: small;
    }

    #emoji {
        font-size: 5rem;
        text-align: center;
    }
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>{{content.scShopDetails.data.GetShops.shop_name}} ({{(content.scShopDetails.data.GetShops.avg_rating == null) ? 0 : content.scShopDetails.data.GetShops.avg_rating.toNumber().toFixed(1)}})</h2>
                    <h4>
                        <div class="reviews" style="color: #ffff;">
                            <i class="fa" dmx-class:fa-star="(content.scShopDetails.data.GetShops.avg_rating.toNumber()>=1)" dmx-class:fa-star-o="(content.scShopDetails.data.GetShops.avg_rating.toNumber()<1)" dmx-class:fa-star-half-o="content.scShopDetails.data.GetShops.avg_rating.toNumber().inRange(0, 1)"></i>
                            <i class="fa fa-star-o" dmx-class:fa-star="(content.scShopDetails.data.GetShops.avg_rating.toNumber()>=2)" dmx-class:fa-star-o="(content.scShopDetails.data.GetShops.avg_rating.toNumber()<2)" dmx-class:fa-star-half-o="content.scShopDetails.data.GetShops.avg_rating.toNumber().inRange(1, 2)"></i>
                            <i class="fa fa-star-o" dmx-class:fa-star="(content.scShopDetails.data.GetShops.avg_rating.toNumber()>=3)" dmx-class:fa-star-o="(content.scShopDetails.data.GetShops.avg_rating.toNumber()<3)" dmx-class:fa-star-half-o="content.scShopDetails.data.GetShops.avg_rating.toNumber().inRange(2, 3)"></i>
                            <i class="fa fa-star-o" dmx-class:fa-star="(content.scShopDetails.data.GetShops.avg_rating.toNumber()>=4)" dmx-class:fa-star-o="(content.scShopDetails.data.GetShops.avg_rating.toNumber()<4)" dmx-class:fa-star-half-o="content.scShopDetails.data.GetShops.avg_rating.toNumber().inRange(3, 4)"></i>
                            <i class="fa fa-star-o" dmx-class:fa-star="(content.scShopDetails.data.GetShops.avg_rating.toNumber()==5)" dmx-class:fa-star-o="(content.scShopDetails.data.GetShops.avg_rating.toNumber()<5)" dmx-class:fa-star-half-o="content.scShopDetails.data.GetShops.avg_rating.toNumber().inRange(4, 5)"></i>
                            <!--Empty star-->
                        </div>
                    </h4>
                    <div class="breadcrumb__option">
                        <a href="index">Home</a>
                        <span>Restaurant Details ({{content.scShopDetails.data.GetShops.CountRating}} Reviews)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Categories</h4>
                        <ul id="repeatCat" is="dmx-repeat" dmx-bind:repeat="content.scCategory.data.GetCat.data" key="cat_id">
                            <li><a href="#">{{varLanguage.value=='English'?content.scCategory.data.GetCat.data[$index].en_name:varLanguage.value=='Bengali'?content.scCategory.data.GetCat.data[$index].bn_name:varLanguage.value=='Hindi'?content.scCategory.data.GetCat.data[$index].hin_name:content.scCategory.data.GetCat.data[$index].en_name}}</a></li>
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <div class="price-range-wrap">
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="100" data-max="5400">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__item sidebar__item__color--option">
                        <h4>Colors</h4>
                        <div class="sidebar__item__color sidebar__item__color--white">
                            <label for="white">
                                White
                                <input type="radio" id="white">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--gray">
                            <label for="gray">
                                Gray
                                <input type="radio" id="gray">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--red">
                            <label for="red">
                                Red
                                <input type="radio" id="red">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--black">
                            <label for="black">
                                Black
                                <input type="radio" id="black">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--blue">
                            <label for="blue">
                                Blue
                                <input type="radio" id="blue">
                            </label>
                        </div>
                        <div class="sidebar__item__color sidebar__item__color--green">
                            <label for="green">
                                Green
                                <input type="radio" id="green">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <h4>Popular Size</h4>
                        <div class="sidebar__item__size">
                            <label for="large">
                                half
                                <input type="radio" id="large">
                            </label>
                        </div>
                        <div class="sidebar__item__size">
                            <label for="medium">
                                full
                                <input type="radio" id="medium">
                            </label>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item" id="repeatNewProd" is="dmx-repeat" dmx-bind:repeat="scNewProd.data.GetProd" key="p_id">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img dmx-bind:src="'https://secure.gravitto.com'+scNewProd.data.GetProd[$index].prod_img1" dmx-bind:alt="scNewProd.data.GetProd[$index].prod_img1">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <span dmx-on:click="browserMain.goto('/product-details/'+content.scNewProd.data.GetProd[$index].p_id+'/'+content.scNewProd.data.GetProd[$index].prod_name)">{{content.scNewProd.data.GetProd[$index].prod_name}}</span>
                                            <h6>{{content.scNewProd.data.GetProd[$index].shop_name}}</h6>
                                            <select id="selectNewProd" dmx-bind:id="'selectNewProd'+$index" class="form-select form-control d-block w-100 text-monospace font-weight-bold" style="font-size:12px" dmx-bind:options="content.scNewProd.data.GetProd[$index].price" optiontext="quantity+' '+q_unit+' :: '+price.toNumber().formatCurrency('₹', '.', ',', 2)+' MRP:'+.mrp.toNumber().formatCurrency('₹', '.', ',', 2)" optionvalue="price_id">
                                            </select>
                                        </div>
                                    </a>
                                </div>
                                <!-- <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/img/latest-product/lp-1.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Kashmiri Malai Kofta</h6>
                                            <span><i class="fa fa-rupee"></i>30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/img/latest-product/lp-2.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Missi Roti</h6>
                                            <span><i class="fa fa-rupee"></i>30.00</span>
                                        </div>
                                    </a>
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="assets/img/latest-product/lp-3.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Lal Mirch ka Parantha</h6>
                                            <span><i class="fa fa-rupee"></i>30.00</span>
                                        </div>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <!-- <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel">
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-1.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>South Indian</span>
                                        <h5><a href="product-details">Vada Sambar</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-2.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Soups</span>
                                        <h5><a href="product-details">Veg Lung Fung Soup</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-3.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Starters</span>
                                        <h5><a href="product-details">Paneer Malai Kabab</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-4.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Chinese</span>
                                        <h5><a href="product-details">Chilli Paneer Dry</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-5.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Fried Rice Noodles</span>
                                        <h5><a href="product-details">Veg Fried Rice</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-6.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Snacks</span>
                                        <h5><a href="#">Dahi Bhallas</a></h5>
                                        <div class="product__item__price"><i class="fa fa-rupee"></i>30.00 <span><i class="fa fa-rupee"></i>36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-4">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select>
                                    <option value="0">Default</option>
                                    <option value="0">Name</option>
                                    <option value="0">Price</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-5">
                            <div class="filter__found">
                                <h6><span>{{content.scRestProd.data.GetProd.length}}</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="repeatRestProd" is="dmx-repeat" dmx-bind:repeat="scRestProd.data.GetProd" key="id">
                    <div class="col-lg-4 col-md-6 col-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <img class="featured__item__pic set-bg" dmx-bind:src="'https://secure.gravitto.com'+content.scRestProd.data.GetProd[$index].prod_img1" dmx-bind:alt="content.scRestProd.data.GetProd[$index].prod_name_en">
                                <ul class="product__item__pic__hover">
                                    <li dmx-on:click="run({run:{action:`scAddtoWishlist.load({product_id: scRestProd.data.GetProd[$index].prod_id, price: content.repeatRestProd.items[$index].select.value},true);scDashboardInfo.load();notifMain.info(((varLanguage.value==\'English\')?scRestProd.data.GetProd[$index].prod_name_en:(varLanguage.value==\'Bengali\')?scRestProd.data.GetProd[$index].prod_name_bn:(varLanguage.value==\'Hindi\')?scRestProd.data.GetProd[$index].prod_name_hin:scRestProd.data.GetProd[$index].prod_name_en)+\' added to wish-list\')`,name:'FlowWishlist'}})"><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-circle" dmx-class:text-success="content.scRestProd.data.GetProd[$index].prod_mark_id==1" dmx-class:text-danger="content.scRestProd.data.GetProd[$index].prod_mark_id==2"></i></a></li>
                                    <li dmx-on:click="run({run:{action:`scAddtoCart.load({product_id: scRestProd.data.GetProd[$index].prod_id, price: content.repeatRestProd.items[$index].select.value},true);notifMain.success(((varLanguage.value==\'English\')?scRestProd.data.GetProd[$index].prod_name_en:(varLanguage.value==\'Bengali\')?scRestProd.data.GetProd[$index].prod_name_bn:(varLanguage.value==\'Hindi\')?scRestProd.data.GetProd[$index].prod_name_hin:scRestProd.data.GetProd[$index].prod_name_en)+\'  added to cart \');scDashboardInfo.load()`,name:'Flow'}})"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h5 class="mb-3"><a dmx-bind:href="'/product-details/'+content.scRestProd.data.GetProd[$index].id+'/'+content.scRestProd.data.GetProd[$index].prod_name_en">{{varLanguage.value=='English'?content.scRestProd.data.GetProd[$index].prod_name_en:varLanguage.value=='Bengali'?content.scRestProd.data.GetProd[$index].prod_name_bn:varLanguage.value=='Hindi'?content.scRestProd.data.GetProd[$index].prod_name_hin:scRestProd.data.GetProd[$index].prod_name_en}}</a></h5>
                                <select id="select" dmx-bind:id="'select'+$index" class="form-select form-control d-block w-100 text-monospace font-weight-bold" style="font-size:12px" dmx-bind:options="scRestProd.data.GetProd[$index].price" optiontext="quantity+' '+q_unit+' :: '+price.toNumber().formatCurrency('₹', '.', ',', 2)+' MRP:'+.mrp.toNumber().formatCurrency('₹', '.', ',', 2)" optionvalue="price_id">
                                </select>
                                <!-- <h5><i class="fa fa-rupee"></i>{{content.scRestProd.data.GetProd[$index].price}} <span class="text-muted ab text-monospace text-line-through"><i class="fa fa-rupee"></i>{{content.scRestProd.data.GetProd[$index].mrp}}</span></h5> -->
                                <!-- <div class="product__item__price"><i class="fa fa-rupee"></i>{{content.scRestProd.data.GetProd[$index].price}} <span><i class="fa fa-rupee"></i>{{content.scRestProd.data.GetProd[$index].mrp}}</span></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div> -->

                <div class="col-12">
                    <h6 class="ab mb-3">Restaurant Review</h6>
                    <div class="card-body tab-content border-0" dmx-show="scDashboardInfo.data.varLogin">
                        <div class="names">
                            <div class="smileySlider">
                                <div id="emoji">😊</div>
                                <input id="slider" type="range" min="1" max="5" name="slider" dmx-bind:value="">
                                <!-- content.scProdDetails.data.GetProdDetails[0].review_value -->
                                <div class="sliderValue-wrapper" hidden>
                                    <span id="sliderValue">3</span>/5
                                </div>
                                <h4>{{(slider.value==1)?'Very Poor':(slider.value==2)?'Poor':(slider.value==3)?'Good':(slider.value==4)?'Very Good':(slider.value==5)?'Excellent':''}}</h4>
                            </div>
                            <input type="text" class="reviewinp mx-3" name="reviewtext" placeholder="Write a review" dmx-bind:value="">
                            <!-- content.scProdDetails.data.GetProdDetails[0].review_comment -->
                        </div>
                        <div class="submitbtn text-center">
                            <button class="submit" type="button" dmx-on:click="scRestReviewAdd.load({rest_id: <%= $_PARAM.id %>, slider: slider.value, review: reviewtext.value})" dmx-bind:disabled="state.executing">{{content.scProdDetails.data.GetProdDetails[0].review_value?'Update':'Submit'}} Review <span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                    <div class="testimonial-box-container" id="repeatReviewList" is="dmx-repeat" dmx-bind:repeat="scRestReviewList.data.GetReviews" key="rest_review_id">
                        <div class="testimonial-box px-3 pt-3 pb-1 mb-2">
                            <!--top------------------------->
                            <div class="box-top">
                                <!--profile----->
                                <div class="profile">
                                    <!--img---->
                                    <div class="profile-img">
                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                    </div>
                                    <!--name-and-username-->
                                    <div class="name-user">
                                        <strong>{{content.scRestReviewList.data.GetReviews[$index].fname}} {{content.scRestReviewList.data.GetReviews[$index].lname}}</strong>
                                        <span>{{content.scRestReviewList.data.GetReviews[$index].created_on}}</span>
                                    </div>
                                </div>
                                <!--reviews------>
                                <div class="reviews">
                                    <i class="fa" dmx-class:fa-star="(scRestReviewList.data.GetReviews[$index].review_value>=1)" dmx-class:fa-star-o="(scRestReviewList.data.GetReviews[$index].review_value<1)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scRestReviewList.data.GetReviews[$index].review_value>=2)" dmx-class:fa-star-o="(scRestReviewList.data.GetReviews[$index].review_value<2)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scRestReviewList.data.GetReviews[$index].review_value>=3)" dmx-class:fa-star-o="(scRestReviewList.data.GetReviews[$index].review_value<3)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scRestReviewList.data.GetReviews[$index].review_value>=4)" dmx-class:fa-star-o="(scRestReviewList.data.GetReviews[$index].review_value<4)"></i>
                                    <i class="fa fa-star-o" dmx-class:fa-star="(scRestReviewList.data.GetReviews[$index].review_value==5)" dmx-class:fa-star-o="(scRestReviewList.data.GetReviews[$index].review_value<5)"></i>
                                    <!--Empty star-->
                                </div>
                            </div>
                            <!--Comments---------------------------------------->
                            <div class="client-comment">
                                <p class="">{{content.scRestReviewList.data.GetReviews[$index].review_comment}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<script>
    const 
  slider = document.getElementById('slider'), 
  value = document.getElementById('sliderValue'),
  emoji = document.getElementById('emoji');

slider.addEventListener('input', ()=>{
  
  number = slider.value;
  value.innerHTML = number;
  console.log(number);
  
 
  if(number <= 1){
    emojiVal = "😞";
  }
  if(number > 1 && number <= 2){
    emojiVal = "😕";
  }
  if(number > 2 && number <= 3){
    emojiVal = "😊";
  }
//   if(number > 45 && number <= 55){
//     emojiVal = "🤔";
//   }
//   if(number > 55 && number <= 70){
//     emojiVal = "🙂";
//   }
  if(number > 3 && number <= 4){
    emojiVal = "😵‍💫";
  }
  if(number > 4){
    emojiVal = "😍";
  }

  
  emoji.innerHTML = emojiVal;
})
</script>